<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                <nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
                    <div class="container">
                        <a href="/" class="navbar-brand">Quiz</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
                            <span class="navbar-toggle-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="#mobile-nav">
                            <ul class="navbar-nav m1-auto">
                                <li class="nav-item">
                                    <a href="{{ path('subject_list') }}" class="nav-link">Subjects</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{ path('test_list') }}" class="nav-link">Tests</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item">
                                        <a href="{{ path('admin_home_page') }}" class="nav-link">Admin</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('IS_ANONYMOUS') %}
                                    <li class="nav-item">
                                        <a href="{{ path('app_register') }}" class="nav-link">Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('app_login') }}" class="nav-link">Login</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock %}
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
